.navbarContainer {
    background-color: aqua;
    position: absolute;
    margin: 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}