@media (prefers-color-scheme: dark) {
    .navbarContainer {
        background-color: #383838;
        a {
            color: white;
        }
        .navActive {
            background-color: #4b4b4b;
        }
    }
  }

.navbarContainer {
    background-color: #fff;
    position: absolute;
    margin: 30px;
    padding: 0px 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.21);
    .navLinkContainer {
        display: flex;
        gap: 20px;
        a {
            padding: 5px 10px;
            border-radius: 20px;
            color: rgb(58, 58, 58);
        }
        .navActive {
            background-color: #f4ecff;
        }
    }

}

